header {
    text-align: center;
    background-color: aqua;
}

.alignCenter {
    text-align: center;
}

.border {
    border: solid black;
    border-width: thick;
}

.list-group-item:hover {
    cursor: pointer;
}